*{
    color: white;
    margin: 0;
    padding: 0;
}


@-ms-viewport{ width: device-width; }

/*margin: top right bottom left */
html, body {
    margin: 0;
    padding: 0;
}









/*INTRODUCTION SECTION*/

.intro {
    height: 100vh;
    width: 100%;
    /*to make double coloured background using linear gradient*/
    background: linear-gradient(to right, rgb(42, 35, 42) 0%,  rgb(42, 35, 42) 30%, rgb(117, 76, 110) 30%, rgb(117, 76, 110) 100%);
 }


.name-top{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 3rem;
    animation: neon 2s ease infinite;
    text-align: center;
}

@keyframes neon {
    0%,
    40%{
        /*offset-x(mandatory) | offset-y(mandatory) | blur-radius | color*/
        text-shadow: 0 0 2px #6e3f56;
        color: #ffb9d1;
    }
    100%{
        text-shadow:  0 0 10px #f46fed, 0 0 20px #f46fed, 0 0 10px #fed128;
        color: #f5efcb;
    }
}



/*BOTH NAVIGATION BARS*/

.menu-area{
    margin-bottom: 10%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul{
    text-align: right;
}
.menu li{
    
    list-style: none;
    margin-right: 20px;
    display: inline-block;

}
.menu a{
    color: white;
    text-align: right;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline wavy;
    text-decoration-color: white;
}



.side-nav{
    position: fixed;
    vertical-align: middle;
}
.side-nav li{
    list-style: none;
    list-style-type: none;
    margin-bottom: 1em;
}

.side-nav ul {
    list-style: none;
}

.icon-desc {
    display: none;
}

.side-nav a:hover + .icon-desc{
    display:inline-block;
    font-family: 'Josefin Sans', sans-serif;
    vertical-align: middle;

}










.intro-mid{
    text-align: center;
}

.gif-1{
    height: auto;
    width: 60%;
}

/*ALL CONTENTS IN THE CAPTION*/

.nameee{
    font-family: 'Shantell Sans', cursive;
    font-size: 3em;
}


.caption {
    font-size: 2.5em;
    font-family: 'Josefin Sans', sans-serif;
}
.caption-2 {
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
}

/*INTRODUCTION SECTION ENDS*/





/************************************************************************************************************************************************************************************************************************************************/






/*ABOUT SECTION*/

.about {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(263deg 29% 32%);
}



.skills{
    transform: translateY(20%) translateX(20%);
    border-radius: 20px;
    height: 30%;
    width: 30%;
    position:relative;
    border: solid 5px white;
    padding: 1rem 1rem 1rem;
}



.skills .circles {
    display: flex;
    justify-content:left;
}
  
.skills .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    margin: 1rem 0.75rem 1rem;
    margin-bottom: 0.5rem;
}

.skills .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: 3rem;
    background-color: white;
}


.skills .h2{
    padding-top: 1rem;
    margin-top: 3rem;
}
.skills .p{
    padding-top: 1rem;
    margin-top: 0.5rem;
}

.quote-1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(20%) translateX(-20%);
    
}

.quote-1 p{
    text-align: right;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    margin-left: 40%;

}

.courses{
    border-radius: 20px;
    height: 30%;
    width: 30%;
    position:relative;
    border: solid 5px white;
    transform: translateX(-20%) translateY(10%);

}

.courses .circles {
    display: flex;
    justify-content:left;
}
  
.courses .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    margin: 1rem 0.75rem 1rem;
    margin-bottom: 0.5rem;
}

.courses .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: 3rem;
    background-color: white;
}


.courses .h2{
    padding-top: 1rem;
    margin-top: 3rem;
}
.courses .p{
    padding-top: 1rem;
    margin-top: 0.5rem;
}



.why-me{
    transform: translateY(-40%) translateX(15%);
    
}
.why-me h2{
    font-size: 3em;
}

.why-me p{
    font-size: 1.5em;
}
.link-uni{
    text-decoration: wavy;
    color: white;
}



/*ABOUT SECTION ENDS*/

/************************************************************************************************************************************************************************************************************************************************/


/*INTEREST */



.interest {
    height: 100vh;
    background-color: hsl(274deg 4% 16%);
}


.interest-heading{
    font-family: 'Chivo Mono', monospace;
    font-size: 2rem;
    margin-left: 2%;
    margin-bottom: 5%;
}

.proj-title{
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    text-align: center;


    background-image: linear-gradient(to right, rgb(117, 76, 110) 0%, rgb(117, 76, 110) 100%);
    background-repeat: repeat-x;
    background-size: 100% 2px;
    background-position: 0 105%;
    transition: background-size 0.25s ease-out;

}

.project-info{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}

.interest-row{
    margin-top: 5%;
    margin-bottom: 5%;
}


  
  .proj-title:hover {
    background-size: 100% 50%;
    color: #fff;
  }
  
/*INTEREST ENDS*/






