*{
    color: white;
    margin: 0;
    padding: 0;
}


@-ms-viewport{ width: device-width; }

/*margin: top right bottom left */
html, body {
    margin: 0;
    padding: 0;
}



/*INTRODUCTION SECTION*/

.intro {
    height: 100%;
    min-height: 100vh; 
    width: 100%;
    /*to make double coloured background using linear gradient*/
    background: linear-gradient(to right, rgb(42, 35, 42) 0%,  rgb(42, 35, 42) 30%, rgb(117, 76, 110) 30%, rgb(117, 76, 110) 100%);
 }


.name-top{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: calc(max(3vw,3vh));
    animation: neon 2s ease infinite;
    text-align: center;
}

@keyframes neon {
    0%,
    40%{
        /*offset-x(mandatory) | offset-y(mandatory) | blur-radius | color*/
        text-shadow: 0 0 2px #6e3f56;
        color: #ffb9d1;
    }
    100%{
        text-shadow:  0 0 10px #f46fed, 0 0 20px #f46fed, 0 0 10px #fed128;
        color: #f5efcb;
    }
}



/*BOTH NAVIGATION BARS*/

.menu-area{
    margin-bottom: calc(min(20vh,20vw));
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu ul{
    text-align: right;
}
.menu li{
    font-size: calc(max(1vh,1vw));
    list-style: none;
    margin-right: 2vw;
    display: inline-block;

}
.menu a{
    color: white;
    text-align: right;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline wavy;
    text-decoration-color: white;
}



.side-nav{
    position: fixed;
    vertical-align: middle;
}
.side-nav li{
    list-style: none;
    list-style-type: none;
    font-size: calc(max(1vh,1vw));
    margin-bottom: 1vh;
}

.side-nav ul {
    list-style: none;
}

.icon-desc {
    display: none;
}

.side-nav a:hover + .icon-desc{
    display:inline-block;
    font-family: 'Josefin Sans', sans-serif;
    vertical-align: middle;

}










.intro-mid{

    text-align: center;
}

.gif-1{
    height: auto;
    width: 60%;
}

/*
@media (max-width: 768px) {
 .gif-1{
    display: none;
}
}*/

/*ALL CONTENTS IN THE CAPTION*/

.nameee{
    font-family: 'Shantell Sans', cursive;
    font-size: calc(max(3vh, 3vw));
}


.caption {
    font-size: calc(max(2.5vh,2.5vw));
    font-family: 'Josefin Sans', sans-serif;
}
.caption-2 {
    font-size: calc(max(3vh, 3vw));
    font-family: 'Josefin Sans', sans-serif;
}

/*INTRODUCTION SECTION ENDS*/





/************************************************************************************************************************************************************************************************************************************************/





.about {
    height: 100%;
    min-height: 100vh; 
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(263deg 29% 32%);
}



.skills{
    border-radius: 20px;
    height: 30%;
    width: 30%;
    position:relative;
    border: solid 2px white;
    padding: 1vw 1vw 1vw;
}



.skills .circles {
    display: flex;
    justify-content:left;
}
  
.skills .circle {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: white;
    margin: 1vw 0.75vw 1vw;
    margin-bottom: 0.5vw;
}

.skills .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: 3vw;
    background-color: white;
}


.skills .h2{
    font-size: calc(max(3vh,3vw));
    padding-top: 1vh;
    margin-top: 3vh;
}
.skills .p{
    font-size: calc(max(1vh,1vw));
    padding-top: 1vh;
    margin-top: 0.5vh;
}

.quote-1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.quote-1 p{
    text-align: right;
    font-size: calc(max(3vh,3vw));
    font-family: 'Dancing Script', cursive;

}


.courses{
    border-radius: 20px;
    height: 30%;
    width: 30%;
    position:relative;
    border: solid 2px white;
    padding: 1vw 1vw 1vw;
}



.courses .circles {
    display: flex;
    justify-content:left;
}
  
.courses .circle {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: white;
    margin: 1vw 0.75vw 1vw;
    margin-bottom: 0.5vw;
}

.courses .line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    margin-top: 3vw;
    background-color: white;
}


.courses .h2{
    font-size: calc(max(3vh,3vw));
    padding-top: 1vh;
    margin-top: 3vh;
}
.courses .p{
    font-size: calc(max(1vh,1vw));
    padding-top: 1vh;
    margin-top: 0.5vh;
}



.why-me h2{
    font-size: calc(max(3vh,3vw));
}

.why-me p{
    font-size: calc(max(2vh,2vw));
}
.link-uni{
    text-decoration: wavy;
    color: white;
}




/*ABOUT SECTION ENDS*/

/************************************************************************************************************************************************************************************************************************************************/


/*INTEREST */



.interest {
    height: 100%;
    min-height: 100vh; 
    background-color: hsl(274deg 4% 16%);
}

.interest-heading{
    font-family: 'Chivo Mono', monospace;
    font-size: calc(max(3vh,3vw));
    margin-left: 2%;
    margin-bottom: 5%;
}

.proj-title{
    font-family: 'Great Vibes', cursive;
    font-size: calc(max(2vh,2vw));
    text-align: center;


    background-image: linear-gradient(to right, rgb(117, 76, 110) 0%, rgb(117, 76, 110) 100%);
    background-repeat: repeat-x;
    background-size: 100% 0vw;
    background-position: 0 105%;
    transition: background-size 0.25s ease-out;

}

.project-info{
    font-size: calc(max(2vw,2vh));
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}

.interest-row{
    margin-top: 5%;
    margin-bottom: 5%;
}


  
  .proj-title:hover {
    background-size: 100% 50%;
    color: #fff;
    cursor: pointer;
  }
  
/*INTEREST ENDS*/

/************************************************************************************************************************************************************************************************************************************************/

/*FOOTER*/
.footer {
    background-color: hsl(0, 0%, 0%);
}

.copy {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(max(1vw,1vh));
}

.foot{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.foot ul{
    text-align: right;
}
.foot li{
    font-size: calc(max(1vh,1vw));
    list-style: none;
    margin-right: 2vw;
    display: inline-block;

}
.foot a{
    color: white;
    text-align: right;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline wavy;
    text-decoration-color: white;
}

/*FOOTER ENDS*/
